<% layout('boilerplate') -%>

<h1>Shop Smart, Save Big!!</h1>
<p>Hello World How Are You??</p>
<p>Sign up tp start buying</p>
<h3>Start your search here</h3>
<p>Our Prices are best on the web.</p>
<p>Hello How Are You??</p>
<p>Sign in tp start buying</p>
<h3>Start your search here</h3>
<p>Our Prices are best on the web.</p>
<p>Hello World How Are You??</p>
<p>Sign up tp start buying</p>
<h3>Start your search here</h3>
<p>Our Prices are best on the web.</p>
